/* Content
--------------------------------------------------
1. Colors   
2. Base typography
3. General
4. Pre-defined classes
5. Headings
*/

:root {
 /** 1. Colors
 -------------------------*/
 --clr-primary-100: rgb(51 65 85);
 --clr-primary-200: rgb(106, 120, 138);
 --clr-primary-300: rgb(51 65 85);
 --clr-primary-400: #385d6a;
 --clr-primary-500: #e6e6e6;
 /* --clr-primary-600: #dddddd; */
 --clr-primary-600: #fafafa;

 /** 2. Base typography
-------------------------*/
 --ff-base: "Outfit", arial, helvetica, sans-serif;
 --ff-accent: "Outfit", arial, helvetica, sans-serif;

 --paragraph-font: "Outfit", sans-serif;
 --heading1-font: "Outfit", sans-serif;
 --heading2-font: "Outfit", sans-serif;
}

/** 3. General
-------------------------*/
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body {
 background-color: white;
 font-family: Outfit, Arial, sans-serif;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 line-height: 1.6;
 font-size: 1.1rem;
}

section {
 max-width: 1200px;
 margin: auto;
 padding: 100px;
}
/** 4. Pre-defined classes
-------------------------*/
.paragraph {
 font-family: var(--paragraph-font);
 font-weight: 400;
 color: var(--clr-primary-100);
}

.flex {
 display: flex;
}

.flex-between {
 display: flex;
 justify-content: space-between;
}

/** 5. Headings
-------------------------*/

h1 {
 color: var(--clr-primary-300);
 font-family: var(--heading1-font);
 font-size: clamp(1.25rem, 0.2641rem + 4.9296vw, 3rem);
}

h2 {
 color: var(--clr-primary-300);
 font-family: var(--heading2-font);
 font-size: clamp(1rem, 0.2641rem + 3vw, 2rem);
}
