/* Content
--------------------------------------------------
    1. Navbar
    2. Footer
*/

/** 1. Navbar
-------------------------*/
.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 20px;
 background-color: var(--clr-primary-500);
}

.logo img {
 height: 65px;
 width: auto;
}

.nav-links {
 list-style-type: none;
 padding: 0;
 display: flex;
 gap: 20px;
 z-index: 200;
 align-items: center;
}

.nav-links li a {
 text-decoration: none;
 /* color: rgb(0, 0, 0); */
 color: var(--clr-primary-300);
 padding: 5px 10px;
 transition: background-color 0.4s;
 border-radius: 10px;
}

.nav-links li a:hover {
 /* background-color: var(--clr-primary-200); */
 text-decoration: underline;
}

.nav-toggle {
 display: none;
 background-color: var(--clr-primary-500);
 border: none;
 font-size: 24px;
}

@media (max-width: 768px) {
 .nav-links {
  display: none;
  flex-direction: column;
  gap: 5.5px;
  width: 100%;
  position: absolute;
  top: 77px;
  left: 0;
  line-height: 1.8;
  background-color: var(--clr-primary-500);
 }

 .nav-toggle {
  display: block;
 }
}
