/* Content
--------------------------------------------------
1. Imports   
2. About me
3. Portfolio
4. Project Cards
5. Contact
*/

/** 1. Imports
-------------------------*/
@import url(base.css);
@import url(components.css);
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

/** 2. About me
-------------------------*/

.about-wrapper {
 gap: 4rem;
 margin-top: 3rem;
}

.about-me-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
}

.about-me-wrapper p {
 margin-bottom: 1rem;
}

.title {
 font-size: clamp(1rem, 0.4286rem + 2.8571vw, 1.5rem);
 font-weight: bold;
 font-family: var(--paragraph-font);
 color: var(--maincolor600);
 margin-bottom: 1rem;
}

.img-container {
 position: relative;
 margin-bottom: 1rem;
}

.img-container:hover .profile-picture {
 filter: none;
}

.profile-picture-container {
 position: absolute;
 left: -1rem;
 top: 1rem;
 transition: 0.2s ease-out;
}

.profile-picture {
 border-radius: 5px;
 display: block;
}

.picture-frame {
 min-width: 250px;
 min-height: 250px;
 max-height: 250px;
 border-radius: 5px;
}

.profile-picture,
.picture-frame {
 max-width: 250px;
 width: 100%;
 height: 100%;
}

/** 3. Portfolio
-------------------------*/

.portfolio-wrapper {
 background-color: var(--maincolor900);
 display: flex;
 align-items: center;
 justify-content: center;
}

#portfolio {
 width: 1200px;
}

.portfolio-description {
 margin-bottom: 4rem;
 max-width: 680px;
}

/** 4. Project Cards
-------------------------*/
.project-card {
 display: flex;
 flex-direction: row;
 margin-bottom: 20px;
 border: 1px solid #ccc;
 border-radius: 5px;
 padding: 10px;
 justify-content: space-between;
}

/* For mobile devices, change the flex-direction to column */
@media (max-width: 768px) {
 .project-card {
  flex-direction: column;
  align-items: center;
 }

 .project-screenshot {
  width: 100%;
  height: auto;
  margin-right: 0;
 }

 .project-info {
  flex: 1;
  display: flex;
  flex-direction: column;
 }
}

/* For larger screens, reduce the image width to a reasonable size */
@media (min-width: 769px) {
 .project-screenshot {
  max-width: 50%;
  height: auto;
  margin-right: 10px;
 }
}

.project-info {
 flex: 1;
 display: flex;
 flex-direction: column;
}

.project-title {
 font-size: 24px;
 margin: 0;
 color: var(--maincolor600);
}

.project-description {
 margin: 10px 0;
}

.project-links {
 position: absolute;
 bottom: 10px;
 right: 10px;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}

.project-link {
 text-decoration: none;
 color: var(--maincolor600);
 font-weight: bold;
 display: inline-block;
 margin-top: 5px;
}

/** 5. Contact
-------------------------*/

.contact-wrapper {
 height: 50vh;
}

.contact-heading {
 margin-bottom: 2rem;
}

.contact-container {
 gap: 2rem;
}

#contact p {
 margin-bottom: 1rem;
}

.social-icons {
 margin-top: 2rem;
 gap: 0.5rem;
}

.social-icons svg {
 fill: var(--maincolor600);
 transition: 0.2s;
}

.social-icons svg:hover {
 fill: var(--maincolor300);
 cursor: pointer;
}

@media (max-width: 888px) {
 .desktop-portfolio-info {
  display: none;
 }

 section {
  padding: 50px;
 }
 .portfolio-description {
  margin-bottom: 1rem;
 }
}

@media (max-width: 700px) {
 .about-wrapper {
  flex-direction: column;
  align-items: center;
 }
 .img-container {
  margin-left: 1rem;
 }
 .toph2 {
  margin-top: 0;
 }
}

@media (max-width: 500px) {
 section {
  padding: 25px;
 }
}

@media (max-height: 950px) {
 .about-me-wrapper {
  height: fit-content;
  display: block;
 }
 .portfolio-wrapper,
 .contact-wrapper {
  height: fit-content;
 }
}
